.post_page{
    display: flex;
    flex-flow: column nowrap;
    width: 500px;
}

.post_page__id{
    margin-top: 20px;
}

.post_page__title{
    margin-top: 20px;
}

.post_page__body{
    margin-top: 20px;
}

.post_page__button{
    margin-top: 20px;
    width: fit-content;
    cursor: pointer;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    background-color: #7677cb;
    padding: 5px;
}

.post_page__button:hover{
    background-color: #8a8bda;
}

.post_page__button_link{
    text-decoration: none;
    color: #FFFFFF;
}